.item {
  height: 16px;
  width: 16px;
  /* border: 1px solid grey; */
  background-color: rgb(40, 167, 69, 0.8);
  border-radius: 1px;
  margin-right: 1px;
  float: left;
  display: block;
}

.filled {
  background-color: rgb(220, 53, 69, 0.8);
}

.not-found {
  background-color: rgb(128, 128, 128, 0.8);
}
