.item {
  height: 16px;
  width: 16px;
  /* border: 1px solid grey; */
  background-color: rgba(71, 190, 99, 0.8);
  border-radius: 1px;
  margin-right: 1px;
  float: left;
  display: block;
}

.failed {
  background-color: rgba(211, 76, 90, 0.8);
}

.flaky {
  background-color: rgba(235, 205, 88, 0.8);
}

.not-found {
  background-color: rgba(231, 227, 227, 0.8);
}
