.item {
  height: 16px;
  width: 16px;
  /* border: 1px solid grey; */
  background-color: #28a745;
  border-radius: 1px;
  margin-right: 1px;
  float: left;
  display: block;
}

.filled {
  background-color: #dc3545;
}

.not-found {
  background-color: grey;
}
