.outer {
  position: relative;
}
.inner {
  overflow-x: scroll;
  overflow-y: visible;
  width: 80%;
  margin-left: 25%;
}

table {
  table-layout: fixed;
  width: 100%;
}

td,
th {
  width: 32px;
  height: 32px;
}

td.failed {
  background-color: red;
}

td.success {
  background-color: green;
}

th {
  position: absolute;
  left: 5%;
  width: 20%;
  direction: rtl;
  padding-right: 32px;
  vertical-align: middle;
}
